.Packages-box{
    color:aliceblue;
    /* background-color: aliceblue; */
    margin-top: 40px;
    width: 800px;
    margin-left: 360px;
}
.component-heading{
    color: aliceblue;
    margin-top: 110px;
    margin-left: 680px;
    font-size: 40px;
}
.component-img{
    margin-left: 170px;
    margin-top: 50px;
}
.pack-component{
    color: aliceblue;
}
.packages-image{
    width:550px;
    margin-left: 40px;
    border-radius: 8px;
}
.packges-img{
    width: 550px;
    margin-top: 30px;
    margin-left: 210px;
    border-radius: 8px;
}
.packages-heading{
    color: aliceblue;
    font-size: 20px;
    margin-left:210px;
    margin-top: 30px;
}
