.contextSlider{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    position: relative; 
}
.consion-main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1460px;
}
.Context-heading{
  color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 35px;
}
.d-block {
    display: none;
    width: 206px;
    padding-left: 25px;
    border-radius: 8px;
    border:  2px solid black;
}
.context-view {
    font-size: 33px;
    height: 60px;
    color: aliceblue;
}
.context-left, .context-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 92%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .context-right {
    right: 20px;
    border-radius: 3px 0 0 3px;
  }
  .context-left:hover, .context-right:hover {
    background-color: rgba(0,0,0,0.8);
  }