body {
    background-color: black;
}

.fixed-top {
    background-color: black;
    position: fixed;
    font-size: 120px;
    width: 1580px;
}

.Container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 64px;
    height: 55px;
    z-index: 3;
    margin-top: 15px;
}

.boxShawdow {
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

.boxShawdow-logo {
    box-sizing: border-box;
    margin: 0;
    margin-right: 5px;
    font-size: 20px;
}

.Avarta-login {
    width: 30px;
    margin-bottom: 20px;
    margin-left: 20;
}

.heading {
    display: flex;
    text-align: center;
    flex: 3;
    margin-right: 100px;
    justify-content: space-between;
    height: 60px;
    padding: 0 50px;
}

.heading-menu {
    flex: 3;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.Head-Tv360 {
    color: #dbdbdb;
}

.Head-movies {
    color: #dbdbdb;
}

.Head-videos {
    color: #dbdbdb;
    padding-right: 10px;
}

.Head-hbo-go {
    color: #dbdbdb;
}

.a {
    color: rgba(255, 255, 255, 0.87);
}

.Head-movie {
    color: white;
}

.header {
    justify-content: center;
    flex: 3;
    display: block;
    top: 5px;
    position: relative;
    right: 10px;
}

.header-search {
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 50px;
    padding: 1px 1px 10px 20px;
}
.header-input {
    margin-left: 10px;
    font-size: 10px;
    color: #dbdbdb;
}

.header-search .header-input {
    background-color: white;
    font-size: 10px;
    border-radius: 30px ;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-search i.bx-search-alt-2 {
    position: absolute;
    z-index: 15;
    color: #262626;
    font-size: 20px;
    padding-left: 8px;
}

.header-package-effect {
    margin-left: 23px;
    background-color: red;
    border-radius: 10px;
}

.header-icon {
    display: flex;
    justify-content: space-around;
    flex: 2;
    margin-left: 80px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 4;
    color: #dbdbdb;
}

.header-bell {
    display: flex;
    justify-content: center;
}

.header-userName {
    display: block;
    opacity: 1;
    right: 80px;
    top: 100%;
}

.header-login input {
    border: solid 1px #dbdbdb;
    padding: 3px 10px 3px 26px;
    color: #262626;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 15px;
    flex-direction: column;
}

.header-login button {
    background-color: red;
    color: #fafafa;
    border-radius: 10px;
    padding: 15px 70px 20px 90px;
    overflow: hidden;
    text-decoration: none;
}