.style-heading{
    color: aliceblue;
    margin-top: 110px;
    margin-left: 80px;
    font-size: 35px;
}
.style-img{
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
}
.style {
    width: 220px;
    margin-left: 20px;
    background-color: darkgray;
    border-radius: 8px;
}